*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    display: flex;
    margin: 60px;
    padding: ;
    border-style: dashed;
    padding: 60px;
    background-image: url(https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?cs=srgb&dl=daylight-environment-forest-459225.jpg&fm=jpg);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 600px;
    
    


   
}
.second{
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    padding: 80px;
    
    
}

}
    
